
html
  head
  link(rel="stylesheet", href="/static/style.css" type='text/css') 
  body
block content
  
        h1.display-4.m-b-2 Sign Up
        // sign form
        form(method='POST' action='/signup')
          div.inputCls
            input#fname.form-control(type='text', placeholder='First Name' name='fname' required)
            br
          div.inputCls
            input#lname.form-control(type='text', placeholder='Last Name' name='lname' required)
            br
          div.inputCls
            input#email.form-control(type='email', placeholder='name@email.com' name='email' required)
            br
          div.inputCls
            input#pw.form-control(type='password', placeholder="Password" name='password'  min="8" required)
            br
          div.inputCls
            input#phoneNumber.form-control(type='number', placeholder='Phone Number' name='phoneNumber')
            br
          div.inputCls
            input#subscribe(type='checkbox',  name='subscribe')
            label(for='pw2') Subscribe to our newsletter   
            br  
          button#b.btns(type='submit' style={'width':'100%',  'height': '8%',
    'margin-top': '5%',
    'background-color': 'darkolivegreen'}) Sign up
        